# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\level 6\Concurrency programming\myCW\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
